{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}Iniciar sesión{% endblock %}
{% block menu %}
    <li><a href="{% url 'preguntas_ultimas_url' %}">Preguntas</a></li>
    <li><a href="#">Tags</a></li>
    <li><a href="#">Usuarios</a></li>
    <li><a href="{% url 'preguntas_crear_url' %}">¡Nueva Pregunta!</a></li>
{% endblock %}
{% block content %}
<p>
    <ul class="nav nav-tabs">
    </ul>
</p>

<div class="well bs-component">
    <form method="post" class="form-signin">{% csrf_token %}
        <legend><span class="glyphicon glyphicon-lock"></span> ¡Bienvenido!</legend>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <fieldset>
                    {{ form|crispy }}
                </fieldset>
                <div  class="text-right">
                    <button type="submit" class="btn btn-primary">{% trans "Log in" %}</button>
                </div>
            </div>
        </div>
    </form>
    <p>
        <h5>¿Has olvidado tu contraseña? <a href="{% url "auth_password_reset" %}">¡Cambiala!</a></h5>
        <h5>¿No estas registrado? <a href="{% url "registration_register" %}">¡Es gratis!</a></h5>
    </p>
</div>
{% endblock %}
