{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}Registrate{% endblock %}
{% block menu %}
    <li><a href="{% url 'preguntas_ultimas_url' %}">Preguntas</a></li>
    <li><a href="#">Tags</a></li>
    <li><a href="#">Usuarios</a></li>
    <li><a href="{% url 'preguntas_crear_url' %}">¡Nueva Pregunta!</a></li>
{% endblock %}
{% block content %}
<p>
    <ul class="nav nav-tabs">
    </ul>
</p>

<div class="well bs-component">
    <form method="post" class="form-signin">{% csrf_token %}
        <legend><span class="glyphicon glyphicon-list-alt"></span> Registrate</legend>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <fieldset>
                    {{ form|crispy }}
                </fieldset>
                <div  class="text-right">
                    <button type="submit" class="btn btn-primary">Registrate</button>
                </div>
            </div>
        </div>
    </form>
    <h4>¿Por qué debo registrarme?</h4>
    <p>Con el fin de presentar respuestas a las preguntas es necesario estar registrado. Las mejores críticas salen en la portada principal.</p>
</div>
{% endblock %}
