{% extends "base.html" %}

{% block title %}Activa tu cuenta{% endblock %}
{% block menu %}
    <li><a href="{% url 'preguntas_ultimas_url' %}">Preguntas</a></li>
    <li><a href="#">Tags</a></li>
    <li><a href="#">Usuarios</a></li>
    <li><a href="{% url 'preguntas_crear_url' %}">¡Nueva Pregunta!</a></li>
{% endblock %}
{% block content %}
<p>
    <ul class="nav nav-tabs">
    </ul>
</p>

<div class="well bs-component">
    <legend><span class="glyphicon glyphicon-lock"></span> Activa tu cuenta</legend>
    <p>
Vamos a enviarte un correo electrónico con un enlace de activación que deberás hacer clic para verificar esta cuenta. <br />Si decide no activar su cuenta con el tiempo podria ser desactivada.

<br />Revisa tu correo electrónico.
        <h5>Continuar <a href="{% url 'preguntas_ultimas_url' %}">visitando</a> el sitio</h5>
    </p>
</div>
{% endblock %}
