{% load staticfiles %}{% load pipeline %}<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>{% block title %}{% endblock %} - StackPreguntas</title>

    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    {% stylesheet 'all' %}
    {% block css %}{% endblock %}

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top" >
        <div class="container">
            <div class="navbar-header">
                <a href="{% url 'preguntas_url' %}" class="navbar-brand">Stack<strong>Preguntas</strong></a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'tags_ver_url' %}">Tags</a></li>
                    <li><a href="{% url 'usuarios_ver_url' %}">Usuarios</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li>¡Bienvenido!</li>
                    <li><a href="{% url 'usuarios_perfil_url' user.id %}">{{ user.username }}</a></li>
                    <li><a href="{% url 'notificaciones_por_usuario_url' %}">Notas ({% load notificaciones %}{% notificaciones %})</a></li>
                    <li><a href="/accounts/logout/">Salir</a></li>
                    {% else %}
                    <li><a href="/accounts/register">Registrarse</a></li>
                    <li><a href="/accounts/login/">Iniciar Sesión</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col col-md-8">
                {% block content %}{% endblock %}
            </div>
            <div class="col col-md-4">
                <h3><span class="glyphicon glyphicon-book"></span> Tab2</h3>
                <p>
                    texto texto texto texto texto texto texto texto texto texto
                </p>
                <p>
                    texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
                </p>
            </div>
        </div>
    </div>

    <footer>
        <hr />
    </footer>

    {% block modals %}{% endblock %}
    {% javascript 'all' %}
    {% block js %}{% endblock %}
</body>
</html>
