body
    padding-top 70px

article
    padding-top 0

.titulo
    margin 0
    padding-bottom 6px

.no-padding-left
    padding-left 0 !important


.no-padding-right
    padding-right 0 !important


.no-margin
    margin-top 6px
    margin-bottom 6px