{% extends 'base.html' %}
{% block title %}Editar perfil{% endblock %}
{% block content %}
    <div class="row">
        <h1><strong>Usuario</strong></h1>                    
    </div>
    <div class="row">
        <p>Nombre de usuario: {{ usuario.username }}</p>
        <p>Descripción: {% if usuario_detalles.descripcion|length = 0 %} (Sin descripción) 
                        {% else %}{{ usuario_detalles.descripcion }}
                        {% endif %}</p>
        <p>Puntaje: {{ usuario_extra.puntaje }} puntos</p>
    </div>
    <div class="row">
        <h4>Mis preguntas</h4>
        <ul>
        {% for pregunta in preguntas %}
            <li>{{ pregunta.titulo }} - {{ pregunta.n_votos }}</li>
        {% empty %}        
        <small><strong>¡Aún no hay preguntas!</strong></small>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
