{% extends 'base.html' %}
{% block title %}Editar perfil{% endblock %}
{% block content %}
    <div class="row">
        <h1><strong>Usuario</strong></h1>                    
    </div>
    <div class="row">
        <p>Nombre de usuario: {{ usuario.username }}</p>
        <p>Descripción: {% if usuario_extra.descripcion|length = 0 %} (Sin descripción) 
                        {% else %}{{ usuario_extra.descripcion }}
                        {% endif %}</p>
        <p>Puntaje: {{ usuario_extra.puntaje }} puntos</p>
    </div>
    <div class="row">
        <h4>Mis preguntas</h4>
        <ul>
        {% for pregunta in preguntas %}
            <li>{{ pregunta.titulo }} - {{ pregunta.n_votos }}</li>
        {% empty %}        
        <small><strong>¡Aún no hay preguntas!</strong></small>
        {% endfor %}
        </ul>
    </div>
    <div class="row">
        <h4>Mis respuestas</h4>
        <ul>
        {% for respuesta in respuestas %}
            <li>{{ respuesta.contenido|truncatechars:50 }} - {{ respuesta.n_votos }}</li>
        {% empty %}        
        <small><strong>¡Aún no hay respuestas!</strong></small>
        {% endfor %}
        </ul>
    </div>
    <div class="row">
        <h4>Votos</h4>
        <ul>
        	<li>Votos arriba: {{ votos_arriba }}</li>
            <li>Votos abajo: {{ votos_abajo }}</li>
        	<li>Total de votos: {{ votos_total }}</li>
        </ul>
    </div>
{% endblock %}
