{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Preguntas{% endblock %}
{% block content %}
    <div class="row">
        <!-- Pregunta -->
        <div class="pregunta col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <h2><strong>{{ pregunta.titulo }}</strong></h2>
        <p>{{ pregunta.contenido }}</p>
        <ul>
            <li>Por {{ pregunta_contenido.autor }}</li>
            <li>{{ pregunta.n_respuestas }} Respuestas</li>
            <li>Votos {{ pregunta.n_votos }}</li>
            <li>{{ pregunta.n_vistas }} Vistas</li>
        </ul>
        </div>
    </div>
    <div class="row">
        <hr/>
    </div>
    <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <!-- Formulario -->
            <p><a href="{% url 'preguntas_url' %}">Lista de preguntas</a></p>
            <div class="well bs-component">
                {% crispy form %}
            </div>

        </div>
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8"><hr/></div>
        </div>
        <div class="row">
            <!-- Respuestas -->
            {% if respuestas.count > 0 %}
                {% for respuesta in respuestas %}
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 {% cycle 'checkered' 'non-checkered' %} ">
                    <p>{{ respuesta.contenido }}</p>
                    <p><strong>Autor: {{ respuesta.autor }}</strong> -- {{ respuesta.fecha_hora }}</p>
                    <p>Respondida hace ...</p>
                    <p><a href="{% url 'respuestas_editar_url' respuesta.id %}">Editar</a></p>
                    <p><a href="{% url 'respuestas_eliminar_url' respuesta.id %}">Eliminar</a></p>
                <hr/>
                </div>
                {% endfor %}
            {% else %}
                <p><strong>¡Esta pregunta aún no tiene respuestas!</strong></p>
            {% endif %}
        </div>
    </div>
{% endblock %}