{% extends 'base.html' %}
{% block title %}Pregunta{% endblock %}
{% block content %}
    <div class="row">
        <!-- Pregunta -->
        <div class="pregunta col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <h2><strong>{{ pregunta.titulo }}</strong></h2>
        <p>{{ pregunta_contenido.texto }}</p>
        <p><a href="{% url 'usuarios_reportar_url' autor.id %}">Reportar usuario</a></p>
        <p><a href="{% url 'preguntas_reportar_url' pregunta.id %}">Reportar pregunta</a></p>
        <ul>
            <li>Por {{ autor.username }}</li>
            <li>{{ pregunta.n_respuestas }} Respuestas</li>
            <li>Votos {{ pregunta.n_votos }}</li>
            <li>{{ pregunta.n_vistas }} Vistas</li>
        </ul>
        <p><a href="/comentarios/crear?return_url={{ path }}&object_id={{ pregunta_contenido.id }}">Añadir comentario a la pregunta</a></p>
        <hr/>
        
        {% if not user.is_authenticated %}
        <p>
            Votar arriba --
            Votar abajo
        </p>
        {% elif not voto %}
        <p>
            <a href="{% url 'preguntas_votar_arriba_url' pregunta.id %}">Votar arriba</a> --
            <a href="{% url 'preguntas_votar_abajo_url' pregunta.id %}">Votar abajo</a>
        </p>
        {% elif voto.arriba %}
        <p>
            Votar arriba --
            <a href="{% url 'preguntas_votar_abajo_url' pregunta.id %}">Votar abajo</a>
        </p>
        {% elif not voto.arriba %}
        <p>
            <a href="{% url 'preguntas_votar_arriba_url' pregunta.id %}">Votar arriba</a> --
            Votar abajo
        </p>
        {% endif %}
        <hr/>
        {% if not user.is_authenticated %}
        <p>Marcar como favorito</p>
        {% else %}
        <p><a href="{% url 'preguntas_favorito_url' pregunta.id %}">Marcar como favorito</a></p>
        {% endif %}        
        </div>
    </div>
    <div class="row">
        <hr/>
    </div>
    <div class="row">
        <!-- Respuestas -->
        <h4>Respuestas</h4>
        <a href="{% url 'preguntas_responder_url' pregunta.id %}">Responder pregunta</a>
        <ul>
        {% if respuestas.count > 0 %}            
            {% for respuesta, comentarios in respuestas %}
            <li><strong>{{ respuesta.contenido }}</strong> -- Por <em>{{ respuesta.autor }}</em>
                {% if user.id == pregunta.autor_id %}<a href="{% url 'respuestas_editar_url' respuesta.id %}">(Editar)</a>{% endif %}
                {% if respuesta.mejor %}☻☻☻{% else %}
                    {% if user.id == pregunta.autor_id %}<a href="{% url 'respuestas_elegir_mejor_url' respuesta.id %}">(Mejor)</a>{% endif %}
                {% endif %}</li>
            <hr/>
            <h5>Comentarios de respuesta</h5>
            {% if comentarios.count > 0 %}
                {% for comentario in comentarios %}
                    <p>
                        {{ comentario.contenido }} -- Por <em>{{ comentario.autor }} </em>
                        {% if comentario.autor.id == user.id %}
                            <a href="{% url 'comentarios_editar_url' comentario.id %}">(Editar)</a> 
                        {% endif %}
                    </p>
                {% endfor %}
            {% else %}
            <strong><p>¡Esta respuesta aún no tiene comentarios!</p></strong>
            {% endif %}
            <small><a href="/comentarios/crear?return_url=/respuesta/{{ respuesta.id }}&object_id={{ respuesta.id }}">Comentar respuesta</a></small>
            {% endfor %}
        {% else %}
            <strong><p>¡Aún no hay respuestas!</p></strong>
        {% endif %}
        </ul>
    </div>
    <div class="row">
        <hr/>
    </div>
    <div class="row">
        <!-- Comentarios -->
        <h4>Comentarios</h4>
        <ul>        
        {% if comentarios.count > 0 %}
            {% for comentario in comentarios %}
            <li><strong>{{ comentario.texto }}</strong> -- Por <em>{{ comentario.autor }} </em>
            {% if user.id == comentario.autor.id %} <a href="{% url 'comentarios_editar_url' comentario.id %}">(Editar)</a> {% endif %}
            </li>
            {% endfor %}
        {% else %}
            <strong><p>¡Aún no hay comentarios!</p></strong>
        {% endif %}
        </ul>
    </div>
{% endblock %}