{% extends 'base.html' %}
{% block title %}Preguntas{% endblock %}
{% block content %}

    <p>
        <ul class="nav nav-tabs">
            <li class="active"><a href="{% url 'preguntas_url' %}">Preguntas</a></li>
            <li><a href="{% url 'preguntas_crear_url' %}">Crear</a></li>
        </ul>
    </p>

    {% for pregunta in preguntas %}
        <div class="well bs-component">
            <article>
                <div class="row">
                    <div class="col col-sm-1">
                        <div class="row text-center">
                            <div class="col col-xs-12">{{ pregunta.n_votos }}</div>
                            <div class="col col-xs-12"><small>votos</small></div>
                        </div>
                    </div>
                    <div class="col col-sm-1">
                        <div class="row text-center">
                            <div class="col col-xs-12">{{ pregunta.n_respuestas }}</div>
                            <div class="col col-xs-12"><small>rspts</small></div>
                        </div>
                    </div>
                    <div class="col col-sm-1">
                        <div class="row text-center">
                            <div class="col col-xs-12">{{ pregunta.n_vistas }}</div>
                            <div class="col col-xs-12"><small>vistas</small></div>
                        </div>
                    </div>
                    <div class="col col-sm-9">{{ pregunta.titulo }}</div>
                </div>
            </article>
        </div>
    {% endfor %}

{% endblock %}