{% extends 'base.html' %}
{% block title %}Preguntas{% endblock %}
{% block content %}

    <p>
        <ul class="nav nav-tabs">
            <li class="active"><a href="{% url 'preguntas_url' %}">Preguntas</a></li>
            {%  if user.is_authenticated %}
            <li><a href="{% url 'preguntas_crear_url' %}">Crear</a></li>
            {% endif %}
        </ul>
    </p>
    
    <div class="row">
        <div class="col col-sm-3 no-padding-right">
            <form action="{% url 'buscar_url' %}" method="post">{% csrf_token %}
                <label for="id_txt_search">Buscar:</label><input type="text" id="id_txt_search" name="txt_search"/>
                <input type="submit" value="¡Buscar!"/>
            </form>
        </div>
    </div>
    <hr/>

    <ul>
    {% for pregunta, propio in object_list %}
    <li>
        {{ pregunta.titulo }} -- {{ propio }}
    </li>
    {% endfor %}
    </ul>
    
    
    {% for pregunta, propio in preguntas %}
        <article>
            <div class="row">
                <div class="col col-sm-3 no-padding-right">
                    <div class="row">
                        <div class="col col-xs-4 no-padding-right">
                            <p class="text-center">
                                {{ pregunta.n_votos }}
                                <br /><small>votos</small>
                            </p>
                        </div>
                        <div class="col col-xs-4 no-padding-right no-padding-left">
                            <p class="text-center">
                                {{ pregunta.n_respuestas }}
                                <br /><small>rspts</small>
                            </p>
                        </div>
                        <div class="col col-xs-4 no-padding-left">
                            <p class="text-center">
                                {{ pregunta.n_vistas }}
                                <br /><small>vistas</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col col-sm-9">
                    <h4 class="titulo">
                        <a href="{% url 'preguntas_ver_url' pregunta.id %}">{{ pregunta.titulo }}</a>
                        {% if propio %}
                            <small><a href="{% url 'preguntas_editar_url' pregunta.id pregunta.slug %}">(Editar)</a></small>
                        {% endif %}
                    </h4>
                    <div class="row">
                        <div class="col col-sm-8">
                            {% for tag in pregunta.tags.all %}
                                <a class="btn btn-info btn-xs" href="{% url 'preguntas_por_tag_url' tag.id %}">{{ tag.nombre }}</a>
                            {% endfor %}
                        </div>
                        <div class="col col-sm-4">
                            <p class="text-right">
                                <small>Tiempo</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="no-margin" />
        </article>
    {% empty %}
        <article>
            <div class="row">
                <small><strong>¡No se encontraron resultados!</strong></small>
            </div>
            <hr class="no-margin" />
        </article>
    {% endfor %}

{% endblock %}