{% extends 'base.html' %}
{% block title %}Preguntas{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <hr/>
            <a href="{% url 'preguntas_crear_url' %}">Crear pregunta</a> --
            <a href="{% url 'preguntas_abiertas_url' %}">Preguntas abiertas</a>
            <hr/>
        </div>
    </div>
    <div class="row">
        <!-- Pregunta -->
        {% for pregunta in preguntas %}
        <div class="pregunta col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <h2><strong>{{ pregunta.titulo }} ({{ pregunta.get_estado_display }})</strong></h1>
        <p>{{ pregunta.contenido }}</p>
        <ul>
            <li class="pregunta-detalle">Por {{ pregunta.autor }}</li>
            <li class="pregunta-detalle">{{ pregunta.n_respuestas }} Respuestas</li>
            <li class="pregunta-detalle">Votos {{ pregunta.n_votos }}</li>
            <li class="pregunta-detalle">{{ pregunta.n_vistas }} Vistas</li>
            <li class="pregunta-detalle">Creada: {% load humanize %} {{ pregunta.fecha_hora|naturaltime|capfirst }}</li>
            <li class="pregunta-detalle">Tags:
            {% for tag in pregunta.tags.all %}
                {% if forloop.last %}
                    <a href="{% url 'preguntas_por_tag_url' tag.id %}">{{ tag.nombre }}</a>
                {% else %}
                    <a href="{% url 'preguntas_por_tag_url' tag.id %}">{{ tag.nombre }}</a>,
                {% endif %}
            {% endfor %}
            </li>
            <li class="pregunta-detalle"><a href="{% url 'preguntas_responder_url' pregunta.id %}">Responder</a></li>
            <li class="pregunta-detalle"><a href="{% url 'preguntas_eliminar_url' pregunta.id %}">Eliminar</a></li>
        </ul>
        </div>
        {% endfor %}
    </div>
{% endblock %}