{% extends 'base.html' %}
{% load humanize %}
{% block title %}Ultimas Preguntas{% endblock %}
{% block menu %}
    <li class="active"><a href="{% url 'preguntas_ultimas_url' %}">Preguntas</a></li>
    <li><a href="#">Tags</a></li>
    <li><a href="#">Usuarios</a></li>
    <li><a href="{% url 'preguntas_crear_url' %}">¡Nueva Pregunta!</a></li>
{% endblock %}
{% block content %}

    <p>
        <ul class="nav nav-pills">
            <li class="active"><a href="{% url 'preguntas_ultimas_url' %}">Ultimas</a></li>
            <li><a href="{% url 'preguntas_ultimas_url' %}">Sin Respuesta</a></li>
            <li><a href="{% url 'preguntas_ultimas_url' %}">Tendencias</a></li>
            <li><a href="{% url 'preguntas_ultimas_url' %}">Populares</a></li>
        </ul>
    </p>

    <hr class="no-margin" />

    {% for pregunta in object_list %}
        <article>
            <div class="row">
                <div class="col col-xs-2 no-padding-right">
                    <div class="row">
                        <div class="col col-xs-12">
                            <p class="text-center">
                                <big>{{ pregunta.n_votos }}</big>
                                <br /><small>votos</small>
                            </p>
                            <p class="text-center">
                                <big>{{ pregunta.n_respuestas }}</big>
                                <br /><small>respuestas</small>
                            </p>
                            <p class="text-center">
                                {{ pregunta.n_vistas }}
                                <small>vistas</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col col-xs-10">
                    <h4 class="titulo">
                        <a href="{% url 'pregunta_ver_url' pregunta.pk pregunta.slug %}">{{ pregunta.titulo }}</a>
                    </h4>
                    <p>{{ pregunta.contenido|truncatewords:50 }}</p>
                    <div class="row">
                        <div class="col col-sm-8">
                            {% for tag in pregunta.tags.all %}
                                <a class="btn btn-info btn-xs" href="">{{ tag.nombre }}</a>
                            {% endfor %}
                        </div>
                        <div class="col col-sm-4">
                            <p class="text-right">
                                <small>por {{ pregunta.autor }} hace {{ pregunta.fecha_hora|timesince }}</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="no-margin" />
        </article>
    {% endfor %}

{% endblock %}