{% extends 'base.html' %}
{% block title %}{{ pregunta.titulo }}{% endblock %}
{% block menu %}
    <li class="active"><a href="{% url 'preguntas_ultimas_url' %}">Preguntas</a></li>
    <li><a href="#">Tags</a></li>
    <li><a href="#">Usuarios</a></li>
    <li><a href="{% url 'preguntas_crear_url' %}">¡Nueva Pregunta!</a></li>
{% endblock %}
{% block content %}
    <article class="pregunta">
        <h2 class="pregunta-titulo">{{ pregunta.titulo }}</h2>
        <hr class="hr no-margin">
        <div class="contenido">
            {{ pregunta.contenido }}
        </div>
        
        <ul>
            <li class="pregunta-detalle">Por {{ pregunta.autor }}</li>
            <li class="pregunta-detalle">{{ pregunta.n_respuestas }} Respuestas</li>
            <li class="pregunta-detalle">Votos {{ pregunta.n_votos }}</li>
            <li class="pregunta-detalle">{{ pregunta.n_vistas }} Vistas</li>
        </ul>
    </article>
{% endblock %}