{% extends 'base.html' %}
{% block title %}Comentarios{% endblock %}
{% block content %}
    <div class="row">
        <!-- Pregunta -->
        <div class="pregunta col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <h2><strong>Crear un comentario</strong></h2>
            <p>Crear un comentario</p>
        </div>
    </div>
    <div class="row">
        <hr/>
    </div>
    <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <!-- Formulario -->
            <p><a href="{% url 'preguntas_url' %}">Lista de preguntas</a></p>
            <form action="{% url 'comentarios_crear_url' %}" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="fieldWrapper">
                    {{ form.content_type.errors }}
                    <label class="label-fix" for="id_content_type">Tipo de objeto:</label>
                    {{ form.content_type }}
                </div>
                <div class="fieldWrapper">
                    {{ form.object_id.errors }}
                    <label class="label-fix" for="id_object_id">ID de objeto:</label>
                    {{ form.object_id }}
                </div>
                <div class="fieldWrapper">
                    {{ form.autor.errors }}
                    <label class="label-fix" for="id_autor">Autor ID:</label>
                    {{ form.autor }}
                </div>
                <div class="fieldWrapper">
                    {{ form.contenido.errors }}
                    <label class="label-fix" for="id_contenido">Contenido:</label>
                    {{ form.contenido }}
                </div>
                <div class="fieldWrapper">
                    {{ form.n_votos.errors }}
                    {{ form.n_votos.as_hidden }}
                </div>
                <div class="fieldWrapper">
                    {{ form.estado.errors }}
                    {{ form.estado.as_hidden }}
                </div>
                <input type="submit" name="submit" value="Crear Comentario"/>
            </form>

        </div>
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8"><hr/></div>
        </div>        
    </div>
{% endblock %}