<!DOCTYPE HTML>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Editar una respuesta</title>
    <style type="text/css">
    </style>
</head>
<body>
	<h2>Editar Respuesta</h2>
    <p><a href="{% url 'preguntas_url' %}">Lista de preguntas</a></p>
    <form action="{% url 'respuestas_editar_url' respuesta.id %}" method="post">{% csrf_token %}
        {{ form.non_field_errors }}
        <div class="fieldWrapper">
            {{ form.pregunta.errors }}
            {{ form.pregunta.as_hidden }}
        </div>
        <div class="fieldWrapper">
            {{ form.autor.errors }}
            {{ form.autor.as_hidden }}
        </div>
        <div class="fieldWrapper">
            {{ form.contenido.errors }}
            <label class="label-fix" for="id_contenido">Contenido:</label>
            {{ form.contenido }}
        </div>
        <div class="fieldWrapper">
            {{ form.contenido.n_votos.errors }}
            {{ form.n_votos.as_hidden }}
        </div>
        <div class="fieldWrapper">
            {{ form.contenido.estado.errors }}
            {{ form.estado.as_hidden }}
        </div>
    <input type="submit" name="submit" value="Editar Respuesta"/>
    </form>
</body>
</html>