<!DOCTYPE HTML>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	<h2>Crear Tag</h2>
    <p><a href="{% url 'preguntas_url' %}">Lista de preguntas</a></p>
    <form action="{% url 'tags_crear_url' %}" method="post">{% csrf_token %}
        {{ form.non_field_errors }}
        <div class="fieldWrapper">
            {{ form.nombre.errors }}
            <label class="label-fix" for="id_nombre">Nombre:</label>
            {{ form.nombre }}
        </div>
    <input type="submit" name="submit" value="Crear Tag"/>
    </form>
</body>
</html>